.Bq-logo {
  width:15%;
  height:15%;
 margin: 0 auto;
}

.menuTypes, .logout{
  width:150px;
  height:50px;
  font-size: 18px;
  background-color:black;
  color:white;
  border:none;
}


.menuTypesContainer{
  display:flex;
  justify-content: space-around;
  margin-bottom: 150px;
}


.container-products {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  gap:15px;

}

img{
  width: 150px;
}

@media (max-width:768px) {

  .menuTypesContainer{
    margin-bottom: 100px;
  }
  .Bq-logo {
    width:25%;
    height:25%;
    margin: 0 auto;
  }
}